---
import { getCollection, getDataEntryById } from "astro:content";
import RootLayout from "@/layouts/root.astro";
import DataList from "@/components/data-list/root.astro";
import DataListContent from "@/components/data-list/content.astro";
import DataListHeader from "@/components/data-list/header.astro";
import { AnimatedTooltipIcons } from "@/components/animated-tooltip-icons";

const works = (await getCollection("work")).sort((a, b) =>
  a.data.start > b.data.start ? -1 : 1,
);
const projects = await getCollection("project");
const info = await getDataEntryById("info", "me");
---

<RootLayout>
  <main
    class="flex justify-center px-6 pb-24 pt-8 print:py-0 sm:pb-28 sm:pt-32"
  >
    <article class="max-w-3xl w-full grow">
      <DataList>
        <DataListHeader>
          <h1 class="text-lg text-accent">
            {`${info.data.firstName} ${info.data.lastName}`}
          </h1>
          <h2 class="text-muted">{info.data.title}</h2>
          <p class="text-xs text-muted">{info.data.email}</p>
        </DataListHeader>
        <DataListContent class="space-y-2">
          {info.data.aboutDetailed.map((str) => <p>{str}</p>)}
        </DataListContent>
      </DataList>
      <DataList>
        {
          works.map(
            ({
              data: {
                start,
                end,
                organization,
                organizationUrl,
                role,
                team,
                location,
              },
            }) => (
              <>
                <DataListHeader>
                  <h3 class="flex items-center gap-2 text-muted">
                    {start.getFullYear()}
                    {end === "current" && <span class="badge">Current</span>}
                  </h3>
                </DataListHeader>
                <DataListContent>
                  <div>{team ? `${role}, ${team}` : role}</div>
                  <div>
                    {organizationUrl ? (
                      <a
                        class="group/link animated-underline"
                        href={organizationUrl}
                      >
                        {organization}
                        <span class="i-solar:arrow-right-up-line-duotone group-hover/link:i-solar:arrow-right-up-linear size-4" />
                      </a>
                    ) : (
                      organization
                    )}
                  </div>
                  <div class="text-muted">{location}</div>
                </DataListContent>
              </>
            ),
          )
        }
      </DataList>
      <DataList>
        <DataListHeader>
          <h3 class="text-muted">Recent projects</h3>
        </DataListHeader>
        <DataListContent class="space-y-4">
          {
            projects.map(
              ({ slug, data: { title, description, repo, skills } }) => (
                <div>
                  <h4>
                    <a
                      class="group/link animated-underline"
                      href={`/project/${slug}`}
                      transition:name={`title-${slug}`}
                    >
                      {title}
                      <span class="i-solar:arrow-right-up-line-duotone group-hover/link:i-solar:arrow-right-up-linear size-4" />
                    </a>

                    {repo && (
                      <a class="animated-underline" href={repo}>
                        <span
                          class="size-4"
                          class:list={{
                            "i-tabler:brand-github": repo.includes("github"),
                            "i-tabler:brand-gitlab": repo.includes("gitlab"),
                          }}
                        />
                      </a>
                    )}
                  </h4>
                  <p class="text-muted">{description}</p>
                  {skills && (
                    <AnimatedTooltipIcons client:idle icons={skills} />
                  )}
                </div>
              ),
            )
          }
        </DataListContent>
      </DataList>
      <DataList>
        <DataListHeader>
          <h3 class="text-muted">Socials</h3>
        </DataListHeader>
        <DataListContent>
          <div class="flex gap-2">
            <a
              class="animated-underline"
              href={`https://github.com/${info.data.github}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="i-tabler:brand-github size-6"></div>
            </a>
            <a
              class="animated-underline"
              href={`mailto:${info.data.email}}?subject=Lets connect`}
            >
              <div class="i-logos:google-gmail size-6"></div>
            </a>
            <a
              class="animated-underline"
              href="/psk-resume.pdf"
              target="_blank"
            >
              <div class="i-tabler:file-cv size-6"></div>
            </a>
          </div>
        </DataListContent>
      </DataList>
    </article>
  </main>
</RootLayout>
